<div class="side-nav-frame">

    <div class="nav-header"> EL-SHOROUK ACADEMY </div>

    <div class="tabs">

                 <div class="tab" >
       <img class="tab-icon" src="../../../../assets/side-nav/reports.svg"  alt="">

            <a [routerLink]="['/Invoices']"  class="tab-txt" routerLinkActive="tab-active">Invoices</a>

        </div>

                <div class="tab" >
            <img  class="tab-icon" src="../../../assets/side-nav/product.svg"  alt="">
            <a [routerLink]="['/Items']"  class="tab-txt" routerLinkActive="tab-active">Items</a>

        </div>

  
        <div class="tab" >
            <img class="tab-icon" src="../../../assets/side-nav/users-03.svg" alt="">
            <a [routerLink]="['/Cashiers']"   class="tab-txt" routerLinkActive="tab-active">Cashiers</a>
        </div>


     



  

 


   


        
   <div  class="nav-footer pointer">

  
         <div>
          <div> Omnia Khalil </div>
       
          <div class="nav-footer-text " >omniaakhalill&#64;gmail.com</div>

        </div>


    </div>

    </div>


</div>

