<div class="tab-layout">
    <div class="layout-header">
        <div class="title-wrapper">
            <div class="title-text">Cashiers</div>
            <p class="subtitle-text">Here you can find a list of Cashiers</p>
        </div>

        <div  (click)="Add()" class="buttons">
          <div class="  content"  >Add Cashier</div>
        </div>
        
    </div>
    <div class="layout-table">
        <div class="table-head">
          <div class="table-col-s"><div class="t-head-text">Id</div></div>
          <div class="table-col-l"><div class="t-head-text">Name</div></div>
          <div class="table-col-l"><div class="t-head-text">Branch</div></div>
          <div class="table-col-l"><div class="t-head-text">City</div></div>
          <div class="table-col-l"><div class="t-head-text">Actions</div></div>


    
        </div>

        <app-loader *ngIf="isLoading"></app-loader>


        
        <div class="table" *ngIf="!isLoading">
      

          <div *ngFor="let entity of entities; let divNumber = index" [ngClass]="{'table-row-even':divNumber%2==0, 'table-row-odd':divNumber%2!=0}">


            <div class="table-col-s">
              <div class="t-row-text" title="{{entity.cashierID}}">{{entity.cashierID}}</div>
            </div>


            <div class="table-col-l">
              <div class="t-row-text" title="{{entity.cashierName}}">{{entity.cashierName}}</div>
            </div>


            <div class="table-col-l">
              <div class="t-row-text" title="{{entity.branchName}}">{{entity.branchName}}</div>
            </div>

        
            <div class="table-col-l">
              <div class="t-row-text" title="{{entity.cashierName}}">{{entity.cityName}}</div>
            </div>
      
            <div class="table-col-l">
              <img (click)="Details(entity.cashierID)" class="icon-info pointer" src="../../../../assets/common/info.svg" alt="">
              <img class="icon pointer" (click)="Edit(entity.cashierID)" src="../../../../assets/common/edit-05.svg" alt="">
              <img (click)="showConfirmPopup(entity.cashierID)" class="icon pointer" src="../../../../assets/common/trash-03.svg" alt="">
            </div>
          </div>
          
          

      </div>
    </div>
 


  
</div>




<div class="delete-popup" *ngIf="showPopup">
  <div class="confirm-card">
  <p>Are you sure you want to delete this Cashier?</p>
<div class=" action-btns">
  <div (click)="cancelDelete()" class="buttons   btn-cancel ">
    No
  </div>
  <button  class="buttons btn-confirm" (click)="confirmDelete()">
  Yes
  </button>
</div>
</div>
