.search-wrapper{
    display: flex;

    margin-bottom: 20px;
    width: 50%;
    height: 100%;
  max-height: 65px;

  gap: 0.5rem;

    .search-input{
        width: 80%;
        max-width: 500px;
    }
    .search-button{
        width: 50px ;
        max-width: 100px;
        height: 100%;
        max-height: 50px;
        background-color: var(--primary-color);
        border-radius: 10px;
        margin-bottom: 20px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      
    }
}

.title-wrapper{
width: 22%;
}
