<div class="tab-layout">
  <div class="layout-header">

    <div class="title-wrapper">
      <div class="breadcrumbs">
        <div (click)="Back()" class="breadcrumbs-back" id="text">
          Cashiers
        </div>
<div>  / </div>

        <div class="breadcrumbs-active">Edit  Cashiers</div>
      </div>


      <p class="subtitle-text">Here you can edit a Cashier</p>
    </div>







  </div>

  <form #profileForm="ngForm" (ngSubmit)="Edit()">
    <div class="form-layout">
      <div class="form">

        <div class="form-row">
          <div class="form-input">
            <label class="input-label" for="nameEn"> Cashier Name</label>
            <input type="text" id="nameEn" [(ngModel)]="cashier.cashierName" name="nameEn" required #nameEn="ngModel" />
            <div class="error">

              <div *ngIf="nameEn.invalid && nameEn.touched" class="error-message">
                Name  is required
              </div>
            </div>
            </div>

        </div>



<div class="form-row">
  <div class="form-input">
    <label for="BranchId" class="input-label">Select Branch</label>
    <select
      id="BranchId"
      [(ngModel)]="cashier.branchID"
      name="BranchId"
      
      required
      #BranchId="ngModel"
    >

      <option value="" disabled>Select Branch</option>
      <option *ngFor="let Branch of branches" [value]="Branch.id">
        {{ Branch.name }}
      </option>
    </select>

    <div class="error">
      <div *ngIf="BranchId.invalid && BranchId.touched" class="error-message">
        Branch is required
      </div>
    </div>
  </div>
</div>

      </div>
        

   
      
        
         


         
 
      </div>
   
      <div class="action-btns">
        <div (click)="Reset()" class="buttons   btn-reset">
          <div class="  content">Reset</div>
        </div>
        <button  class="buttons btn-confirm " [disabled]="profileForm.invalid">
          <div class="  content">Edit Casshier</div>
        </button>
      </div>

  </form>






</div>






