<div class="tab-layout">
    <div class="layout-header">
     
            <div class="title-wrapper">
                <div class="breadcrumbs">
                    <div (click)="Back()" class="breadcrumbs-back" id="text">
                        Users Managment
                    </div>
                    <img
                  
                      alt=""
                      src="../../../assets/common/right arrow.svg"
                    />
                
                    <div  class="breadcrumbs-active">Favourite Users</div>
                </div>


                <p class="subtitle-text">Here you can find a list of Favourite Users</p>
            </div>
      

      
     
    

    
    </div>
    <div class="layout-table">


        <!-- info.component.html -->

   
          
              <div class="table-head">
                <div class="table-col-l"><div class="t-head-text">Name</div></div>
                <div class="table-col-l"><div class="t-head-text">E-mail</div></div>
                <div class="table-col-l"><div class="t-head-text">Phone Number</div></div>
                <div class="table-col-l"><div class="t-head-text">Joining date</div></div>
                <div class="table-col-m"><div class="t-head-text">Actions</div></div>
              </div>


              <app-loader *ngIf="isLoading"></app-loader>
              <div class="table" *ngIf="!isLoading">
                <div *ngFor="let entity of entities; let divNumber = index" [ngClass]="{'table-row-even':divNumber%2==0, 'table-row-odd':divNumber%2!=0}">
                  <div class="table-col-l">
                    <div class="t-row-text" title="{{entity.name}}">{{entity.name}}</div>
                  </div>
                  <div class="table-col-l">
                    <div class="t-row-text" title="{{entity.email}}">{{entity.email}}</div>
                  </div>
                  <div class="table-col-l">
                    <div class="t-row-text" title="{{entity.phoneNumber}}">{{entity.phoneNumber}}</div>
                  </div>
                  <div class="table-col-l">
                    <div class="t-row-text" title="{{entity.joiningDate | date:'short'}}">{{entity.joiningDate | date:'short'}}</div>
                  </div>
                  <div class="table-col-m">
                    <img (click)="RemoveFromFavorite(entity.userId)" class="icon pointer" src="../../../../assets/common/trash-03.svg" alt="Remove from Favorite">
                  </div>
                </div>
                

            </div>

        
    </div>
   
</div>

