<div class="tab-layout">
  <div class="layout-header">

    <div class="title-wrapper">
      <div class="breadcrumbs">
        <div (click)="Back()" class="breadcrumbs-back" id="text">
          Manage Products
        </div>
        <img alt="" src="../../../assets/common/right arrow.svg" />

        <div class="breadcrumbs-active">Add Product</div>
      </div>


      <p class="subtitle-text">Here you can add a Product</p>
    </div>







  </div>

  <form #profileForm="ngForm" (ngSubmit)="Add()">
    <div class="form-layout">
      <div class="form">
        <!-- Name English -->
        <div class="form-row">
          <div class="form-input">
            <label class="input-label" for="nameEn">Name English</label>
            <input type="text" id="nameEn" [(ngModel)]="product.nameEn" name="nameEn" required #nameEn="ngModel" />
            <div class="error">

              <div *ngIf="nameEn.invalid && nameEn.touched" class="error-message">
                Name in English is required
              </div>
            </div>
            </div>

            <!-- Name Arabic -->
            <div class="form-input">
              <label for="nameAr" class="input-label">Name Arabic</label>
              <input type="text" id="nameAr" [(ngModel)]="product.nameAr" name="nameAr" required #nameAr="ngModel" />
              <div class="error">

              <div *ngIf="nameAr.invalid && nameAr.touched" class="error-message">
                Name in Arabic is required
              </div>
              </div>
            </div>
          </div>

          <!-- Description English -->
          <div class="form-row-dsc">
            <div class="form-input">
              <label class="input-label" for="descriptionEn">Description English</label>
              <textarea id="descriptionEn" [(ngModel)]="product.descriptionEn" name="descriptionEn" required
                #descriptionEn="ngModel"></textarea>
                <div class="error">

              <div *ngIf="descriptionEn.invalid && descriptionEn.touched" class="error-message">
                Description in English is required
              </div>
              </div>
            </div>

            <!-- Description Arabic -->
            <div class="form-input">
              <label for="descriptionAr" class="input-label">Description Arabic</label>
              <textarea id="descriptionAr" [(ngModel)]="product.descriptionAr" name="descriptionAr" required
                #descriptionAr="ngModel"></textarea>
                <div class="error">

              <div *ngIf="descriptionAr.invalid && descriptionAr.touched" class="error-message">
                Description in Arabic is required
              </div>
            </div>
            </div>
          </div>

          <!-- Rating -->
          <div class="form-row">
            <div class="form-input">
              <label class="input-label" for="rating">Rating</label>
              <input type="number" id="rating" [(ngModel)]="product.rating" name="rating" required min="1" max="5"
                #rating="ngModel" />
              <div class="error">
                <div *ngIf="rating.invalid && rating.touched" class="error-message">
                  Rating is required and should be between 1 and 5
                </div>
              </div>
            </div>

            <!-- Price -->
            <div class="form-input">
              <label for="price" class="input-label">Price</label>
              <input type="number" id="price" [(ngModel)]="product.price" name="price" required min="0"
                #price="ngModel" />
                <div class="error">
                  <div class="error">

              <div *ngIf="price.invalid && price.touched" class="error-message">
                Price is required and should be a positive number
              </div>
            </div>
            </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-input">
              <label for="occasions" class="input-label">Select Occasion</label>
            
                <div class="error">

              </div>
            </div>

            <!-- Upload Image -->
            <div class="form-input">
              <label for="formFile">Upload Image</label>
              <input 
              class="form-control" 
              name="photo" 
              type="file" 
              id="formFile" 
              (change)="onFileChange($event)" 
              required 
              [(ngModel)]="product.photo" 
              #photo="ngModel"
            />
                <img *ngIf="isPhoto" (click)="Display()" class="icon display-img pointer" src="../../../../assets/common/image.svg" alt="">
                <div class="error">

              <div *ngIf="!product.photo && photo.touched" class="error-message">
                Image is required
              </div>
            </div>
            </div>
          </div>
          <!-- Is Best Seller -->
          <div class="form-row">
            <div class="form-input">
              <label class="input-label" for="isBestSeller">Is Best Seller</label>
              <select id="isBestSeller" [(ngModel)]="product.isBestSeller" name="isBestSeller" required
                #isBestSeller="ngModel">
                <option value="">Select value</option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
              <div class="error">

              <div *ngIf="isBestSeller.invalid && isBestSeller.touched" class="error-message">
                Selecting whether it's a best seller is required
              </div>
              </div>
            </div>

            <!-- Category -->
            <div class="form-input">
              <label for="categoryId" class="input-label">Select Category</label>
              <select id="categoryId" [(ngModel)]="product.categoryId" name="categoryId" required #categoryId="ngModel">
                <option value="" disabled selected>Select Category</option>
                <option *ngFor="let category of Categories" [value]="category.categoryId">
                  {{ category.nameEn }}
                </option>
              </select>
              <div class="error">

              <div *ngIf="categoryId.invalid && categoryId.touched" class="error-message">
                Category is required
              </div>
            </div>
            </div>
          </div>



          

          <div class="form-row">
            <div class="form-input">
              <label class="input-label" for="IsInStock">Is out of stock</label>
              <select id="IsInStock" [(ngModel)]="product.isOutOfStock" name="IsInStock" required
                #IsInStock="ngModel">
                <option value="">Select value</option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
              <div class="error">

              <div *ngIf="IsInStock.invalid && IsInStock.touched" class="error-message">
                Selecting whether it's In Stock is required
              </div>
              </div>
            </div>
          </div>
          <!-- Select Occasion -->
         
        </div>
      </div>
      <!-- Submit Button -->
      <div class="action-btns">
        <div (click)="Reset()" class="buttons   btn-reset">
          <div class="  content">Reset</div>
        </div>
        <button  class="buttons btn-confirm " [disabled]="profileForm.invalid">
          <div class="  content">Add Product</div>
        </button>
      </div>

  </form>






</div>




<div class="img-popup" *ngIf="displayPhoto">
  <div class="displayed-img">
    <img [src]="photoUrl" alt="Product Image" />
    <button class="close-btn" (click)="closePopup()">×</button>
  </div>
</div>
