/* You can add global styles to this file, and also import other style files */
:root {
  --light-color: #ffff;
  --primary-color: #3C2716 !important;
  --primary-color: #634024;
  --light-primary-color: #634024;
  --grey-color: #C6C6C6;

  --background-color: #E0D9D3;
  --label-color: #ddd6cf;

  --drak-light-color: #F5F5F5;
  --dark-grey-color: #868686;
  --dark-color: #160605;


  --red-color: #E12C2C;
  --green-color: #2CE12C;
}



app-root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--light-grey-color);
  justify-content: center;
  align-items: center;
  margin: 0;

  width: 100vw;
}

.tab-layout {
  display: flex;
  flex-direction: column;
  height: 88vh;
  width: calc(86vw * 0.9);

  justify-content: flex-start;

}

.layout-header {
  height: 20%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2em;
  align-items: center;
}


.action-btns {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.action-btns {


  border-radius: 0 0 10px 10px;
  height: 10%;
  background-color: var(--drak-light-color);


}

.arrow,
.page {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: var(--light-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.3);


}



.pointer {
  cursor: pointer;
}


.title-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  gap: 0.5rem;

}

.title-text {
  font-size: 1.3rem;
  color: var(--dark-color);


}

.subtitle-text {
  font-size: 1.1rem;
  color: var(--dark-grey-color);

}

.subtitle-text-dark {
  font-size: 1.2em;
  color: var(--primary-color);

}

.group-btns {
  display: flex;
  flex-direction: row;
  gap: 2em;

}

.buttons {
  min-height: 40%;
  max-height: 60%;
  width: 18%;
  border-radius: 35px;
  border: 1px solid #c5c5c5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color) !important;
  background-color: var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
}

.layout-table {
  max-height: 80vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
    overflow-y: scroll;
  scrollbar-width: none;

  -ms-overflow-style: none;


}

.form-layout {
  height: 70vh;

  padding: 1rem;
  border-radius: 10px 10px 0 0;
  background-color: var(--drak-light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;



}


.table {
  width: 100%;
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-radius: 0 0 10px 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.2);


}


.table-head,
.table-row-odd {
  display: flex;
  width: 100%;
  height: 6.5vh;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: var(--light-color);
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to bottom,
      rgba(211.44, 211.44, 211.44, 0),
      rgb(203, 163, 91) 43.68%,
      rgba(255, 255, 255, 0) 100%) 1;



}

.table-head {
  border-radius: 10px 10px 0 0;
}

.table-row-even {
  display: flex;
  width: 100%;
  height: 7vh;
  align-items: center;
  justify-content: space-around;

  position: relative;
  background-color: #f4f4f4;

}

.table-col-s {
  display: flex;

  align-items: center;

  width: 7%;
  justify-content: center;

}

.table-col-m {
  display: flex;
  width: 10%;
  align-items: center;
  background-color: inherit;
  justify-content: center;

}

.table-col-l {
  display: flex;
  width: 15%;
  align-items: center;
  background-color: inherit;
  justify-content: center;


}



.t-head-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 700;
  color: var(--light-primary-color) !important;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

}



.t-row-text {
  background-color: inherit !important;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: var(--dark-color) !important;
  font-size: 16px;

  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;


}


.breadcrumbs {
  display: flex;
  flex-direction: row;
}

.breadcrumbs-back {
  color: var(--dark-grey-color);

  cursor: pointer;
}

.breadcrumbs-back:checked {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  font-size: large;

}

.breadcrumbs-active {

  color: var(--primary-color);
  font-weight: bold;
  font-size: large;

}

.btn-confirm,
.btn-reset,
.btn-cancel {
  height: 100%;
}

.btn-reset,
.btn-cancel {
  background-color: var(--dark-grey-color);
}


.form {

  gap: 1rem;
  width: 100%;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  box-shadow: none;

  align-items: center;

  flex: 0 0 auto;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

.form-row,
.form-row-dsc {
  width: 80%;
  min-height: 10vh;
  display: flex;

  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.form-row-dsc {
  height: 20vh;
}

.form-input {

  width: 48%;
  border-radius: 15px;

  gap: 0.5rem;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

input,
textarea,
select {
  height: 80%;
  border-radius: 15px;
  border: 2px solid var(--light-primary-color);
  width: 100%;
  padding: 1px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-control-lg,
#formFile {

  height: 70%;
  border-radius: 15px;
  border: 2px solid var(--light-primary-color);
  width: 100%;
  padding: 1.2rem;
  padding-right: 15%;


}

 .confirm-card{
  position: relative; /* To position close button */
  background-color: var(--light-color, #fff); /* Default fallback if var is not defined */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 50%; 
  height: auto; 
  text-align: center;
}

.error {
  height: 20%;
  width: 100%;

}

.input-label {
  color: var(--primary-color);


}

.error-message {
  color: var(--red-color);
  font-size: 0.8em;

}


button:disabled {
  background-color: var(--light-primary-color);
  color: var(--dark-grey-color);
}

.icon {
  max-width: 40px;
  max-height: 40px;
}

.icon-info {
  max-width: 30px;
  max-height: 30px;
}


.pointer {
  cursor: pointer;
}




.table> :not(caption)>*>* {
  background-color: inherit !important;
}

.img-popup,
.delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (min-width: 900px) and (max-width: 1450px) {

  html,
  body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
  }

  .icon {
    width: 35px;
    height: 35px;
  }

  .layout-table {
    font-size: 0.6rem;
  }

  .t-head-text,
  .t-row-text {
    font-size: 0.75rem;
  }

  .table-col-l,
  .table-col-m,
  .table-col-s {
    padding: 4px;
  }


  .title-text {
    font-size: 1rem;
    color: var(--dark-color);


  }

  .subtitle-text,
  .breadcrumbs-active,
  .breadcrumbs-back,
  .input-label {
    font-size: 1.2rem;


  }



  textarea,
  input {
    font-size: 0.8rem !important;
  }

  .content {
    font-size: 0.7rem;
  }



  .arrow-icon {

    width: 15px;
    height: 15px;

  }

  .arrow,
  .page,
  .Page-active {

    width: 20px;
    height: 20px;
  }

}